<div class="spanNav-row" id="spanNav-row">
  <select name="loads" [(ngModel)]="selectedModel" (change)="setParameters()">
    <option *ngFor="let currentLoad of loads" [selected]="selectedModel === currentLoad.model">{{currentLoad.model}}</option>
  </select>
  <button id="resetButton" class="btn btn-danger" (click)="resetParameters()">reset</button>
</div>
{{selectedModel}}
<form [formGroup]="loadForm">
  <div class="form-group">
    <label for="model">Model</label>
    <input type="string" class="form-control" id="model" aria-describedby="modelHelp" formControlName="draftModel" required>
    <small id="modelHelp" *ngIf="(!loadForm.get('draftModel').errors)" class="form-text text-muted">The name of the model</small>
    <small *ngIf="loadForm.get('draftModel').errors" class="form-text text-muted">Error: {{loadForm.get('draftModel').errors.modelError}}</small>
  </div>
  <div class="form-group">
    <label for="loadProfile">Load Profile</label>
    <input type="string" class="form-control" id="loadProfile" aria-describedby="loadProfileHelp" formControlName="draftLoadProfile" required>
    <small id="loadProfileHelp" *ngIf="(!loadForm.get('draftLoadProfile').errors)" class="form-text text-muted">The load profile of the load as comma-separated list of floats</small>
    <small *ngIf="loadForm.get('draftLoadProfile').errors" class="form-text text-muted">Error: {{loadForm.get('draftLoadProfile').errors.loadProfileError}}</small>
  </div>
  <div class="form-group">
    <label for="relativeControllability">Relative Controllability</label>
    <input type="number" class="form-control" id="relativeControllability" aria-describedby="relativeControllabilityHelp" formControlName="draftRelativeControllability" required>
    <small id="relativeControllabilityHelp" *ngIf="(!loadForm.get('draftRelativeControllability').errors)" class="form-text text-muted">The controllability of the load (how much load can be shifted)</small>
    <small *ngIf="loadForm.get('draftRelativeControllability').errors" class="form-text text-muted">Error: {{loadForm.get('draftRelativeControllability').errors.relativeControllabilityError}}</small>
  </div>
  <div class="form-group">
    <label for="temporalShiftingCapability">Temporal Shifting Capability</label>
    <input type="number" class="form-control" id="temporalShiftingCapability" aria-describedby="temporalShiftingCapabilityHelp" formControlName="draftTemporalShiftingCapability" required>
    <small id="temporalShiftingCapabilityHelp" *ngIf="(!loadForm.get('draftTemporalShiftingCapability').errors)" class="form-text text-muted">The amount of time load can be shifted (in time slices)</small>
    <small *ngIf="loadForm.get('draftTemporalShiftingCapability').errors" class="form-text text-muted">Error: {{loadForm.get('draftTemporalShiftingCapability').errors.temporalShiftingCapabilityError}}</small>
  </div>
  <button id="saveButton" class="btn btn-success" *ngIf="loadForm.valid && !loadForm.pristine" (click)="storeLoadTemplate()">Store Template</button>
</form>
