<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title" (click)="this.showResource = !this.showResource">Generator: {{resource.model}}</h3>
  </div>
  <div class="panel-body" *ngIf="showResource">
    <p>
      Heat Coupling Number: {{resource.heatCouplingNumber}}
    </p>
    <p>
      Ramping Parameter: {{resource.rampingParameter}}
    </p>
    <p>
      Min. Uptime: {{resource.minimalUptime}}
    </p>
    <p>
      Min. Downtime: {{resource.minimalDowntime}}
    </p>
    <p>
      Operation Status: {{resource.operationStatus}}
    </p>
    <p>
      Max. Gen.: {{resource.maximalGeneration}}
    </p>
    <p>
      Current Gen.: {{resource.currentGeneration}}
    </p>
  </div>
</div>
