<div class="well">
  <div class="row">
    <div class="col">
      <div *ngIf="prosumer">
      You are Prosumer {{prosumer.name}} with the id {{prosumer.id}}
    </div>
      <div *ngIf="experimentId">
        You are participating in experiment {{experimentId}}.
    </div>
    </div>
    <div class="col">
      <app-time></app-time>
    </div>
    <div class="col">
      <app-fee-levy-display [prosumer]="prosumer" [experimentId]="experimentId"></app-fee-levy-display>
    </div>
  </div></div>
<div class="row">
  <div class="col-md-8">
    <div class="panel panel-primary">
      <app-feed-in-obligation-display [prosumer]="prosumer"></app-feed-in-obligation-display>
    </div></div></div>
<div class="row">
  <div class="col-md-8">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title" (click)="this.showPRD = !this.showPRD">Persistent Resource Display</h3>
      </div>
      <div *ngIf="showPRD" class="panel-body">
        <app-persistent-resource-display [prosumerInstanceObservable]="prosumerInstance"></app-persistent-resource-display>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-8">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title" (click)="this.showAssetDispatch = !this.showAssetDispatch">Asset Dispatch</h3>
      </div>
      <div *ngIf="showAssetDispatch" class="panel-body">
        <app-asset-dispatch [prosumerInstance]="prosumerInstance" [timeService]="timeService"></app-asset-dispatch>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-8">
    <app-market></app-market>
  </div>
</div>
