<div class="well">
  <div class="row">
    <div class="col">
      <div *ngIf="prosumer">
      You are Prosumer {{prosumer.name}} with the id {{prosumer.id}}
    </div>
      <div *ngIf="experimentId">
        You are participating in experiment {{experimentId}}.
    </div>
    </div>
  </div></div>
<div class="row">
  <div class="col-md-8">
    <div class="panel panel-primary">
      <app-feed-in-obligation-display [piObservable]="prosumerInstance"></app-feed-in-obligation-display>
    </div></div></div>
<div class="row">
  <div class="col-md-8">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title" (click)="this.showPRD = !this.showPRD">Persistent Resource Display</h3>
      </div>
      <div *ngIf="showPRD" class="panel-body">
        <app-persistent-resource-display [prosumerInstanceObservable]="prosumerInstance"></app-persistent-resource-display>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-8">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title" (click)="this.showAssetDispatch = !this.showAssetDispatch">Asset Dispatch</h3>
      </div>
      <div *ngIf="showAssetDispatch" class="panel-body">
        <app-asset-dispatch [prosumerInstance]="prosumerInstance"></app-asset-dispatch>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-8">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title" (click)="changeView('BidEditor')">P2P Bid Editor</h3>
      </div>
      <div *ngIf="currentView==='BidEditor'" class="panel-body">
        <app-p2p-bid-editor></app-p2p-bid-editor>
      </div>
    </div>

    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title" (click)="changeView('MarketView')">Market View</h3>
      </div>
      <div *ngIf="currentView==='MarketView'" class="panel-body">
        <app-market-view></app-market-view>
      </div>
    </div>

    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title" (click)="changeView('FeeView')">Fee & Levy View</h3>
      </div>
      <div *ngIf="currentView==='FeeView'" class="panel-body">
        <app-fee-levy-display [piObservable]="prosumerInstance"></app-fee-levy-display>
      </div>
    </div>
  </div></div>
