<div class="well">
  <div class="row">
    <div class="col">
      <div *ngIf="prosumer">
      You are Prosumer {{prosumer.name}} with the id {{prosumer.id}}
    </div>
      <div *ngIf="experimentId">
        You are participating in experiment {{experimentId}}.
    </div>
    </div>
    <div class="col">
      <app-time></app-time>
    </div>
  </div></div>
<div class="row">
  <div class="col-md-8">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title" (click)="this.showPRD = !this.showPRD">Persistent Resource Display</h3>
      </div>
      <div *ngIf="showPRD" class="panel-body">
        <app-persistent-resource-display></app-persistent-resource-display>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-8">
    <app-market></app-market>
  </div>
</div>
