<div class="spanNav-row" id="spanNav-row">
  <select name="cgs" [(ngModel)]="selectedModel" (change)="setParameters()">
    <option *ngFor="let currentCG of cgs" [selected]="selectedModel === currentCG.model">{{currentCG.model}}</option>
  </select>
  <button id="resetButton" class="btn btn-danger" (click)="resetParameters()">reset</button>
</div>
{{selectedModel}}
<form [formGroup]="cgForm">
  <div class="form-group">
    <label for="model">Model</label>
    <input type="string" class="form-control" id="model" aria-describedby="modelHelp" formControlName="draftModel" required>
    <small id="modelHelp" *ngIf="(!cgForm.get('draftModel').errors)" class="form-text text-muted">The name of the model</small>
    <small *ngIf="cgForm.get('draftModel').errors" class="form-text text-muted">Error: {{cgForm.get('draftModel').errors.modelError}}</small>
  </div>
  <div class="form-group">
    <label for="maximalGeneration">Maximal Generation</label>
    <input type="number" class="form-control" id="maximalGeneration" aria-describedby="maximalGenerationHelp" formControlName="draftMaximalGeneration" required>
    <small id="maximalGenerationHelp" *ngIf="(!cgForm.get('draftMaximalGeneration').errors)" class="form-text text-muted">The maximal generation capacity of the asset</small>
    <small *ngIf="cgForm.get('draftMaximalGeneration').errors" class="form-text text-muted">Error: {{cgForm.get('draftMaximalGeneration').errors.maximalGenerationError}}</small>
  </div>
  <div class="form-group">
    <label for="minimalDowntime">Minimal Downtime</label>
    <input type="number" class="form-control" id="minimalDowntime" aria-describedby="minimalDowntimeHelp" formControlName="draftMinimalDowntime" required>
    <small id="minimalDowntimeHelp" *ngIf="(!cgForm.get('draftMinimalDowntime').errors)" class="form-text text-muted">The time the asset has to be switched off after downramping</small>
    <small *ngIf="cgForm.get('draftMinimalDowntime').errors" class="form-text text-muted">Error: {{cgForm.get('draftMinimalDowntime').errors.minimalDowntimeError}}</small>
  </div>
  <div class="form-group">
    <label for="minimalUptime">Minimal Uptime</label>
    <input type="number" class="form-control" id="minimalUptime" aria-describedby="minimalUptimeHelp" formControlName="draftMinimalUptime" required>
    <small id="minimalUptimeHelp" *ngIf="(!cgForm.get('draftMinimalUptime').errors)" class="form-text text-muted">The minimal amount of time the asset needs to be operated after ramping up</small>
    <small *ngIf="cgForm.get('draftMinimalUptime').errors" class="form-text text-muted">Error: {{cgForm.get('draftMinimalUptime').errors.minimalUptimeError}}</small>
  </div>
  <div class="form-group">
    <label for="rampingParameter">Temporal Shifting Capability</label>
    <input type="number" class="form-control" id="rampingParameter" aria-describedby="rampingParameterHelp" formControlName="draftRampingParameter" required>
    <small id="rampingParameterHelp" *ngIf="(!cgForm.get('draftRampingParameter').errors)" class="form-text text-muted">The ramping parameter (how quickly the generation of the asset can change</small>
    <small *ngIf="cgForm.get('draftRampingParameter').errors" class="form-text text-muted">Error: {{cgForm.get('draftRampingParameter').errors.rampingParameterError}}</small>
  </div>
  <div class="form-group">
    <label for="heatCouplingNumber">Heat Coupling Number</label>
    <input type="number" class="form-control" id="heatCouplingNumber" aria-describedby="heatCouplingNumber" formControlName="draftHeatCouplingNumber" required>
    <small id="heatCouplingNumberHelp" *ngIf="(!cgForm.get('draftHeatCouplingNumber').errors)" class="form-text text-muted">The heat coupling number (relating heat and electrical generation)</small>
    <small *ngIf="cgForm.get('draftHeatCouplingNumber').errors" class="form-text text-muted">Error: {{cgForm.get('draftHeatCouplingNumber').errors.heatCouplingNumberError}}</small>
  </div>
  <button id="saveButton" class="btn btn-success" *ngIf="cgForm.valid && !cgForm.pristine" (click)="storeCGTemplate()">Store Template</button>
</form>
