<div class="spanNav-row" id="spanNav-row">
  <select name="ncgs" [(ngModel)]="selectedModel" (change)="setParameters()">
    <option *ngFor="let currentNCG of ncgs" [selected]="selectedModel === currentNCG.model">{{currentNCG.model}}</option>
  </select>
  <button id="resetButton" class="btn btn-danger" (click)="resetParameters()">reset</button>
</div>
{{selectedModel}}
<form [formGroup]="nCGForm">
  <div class="form-group" [formGroup]="nCGForm">
    <label for="model">Model</label>
    <input type="string" class="form-control" id="model" aria-describedby="modelHelp" formControlName="draftModel" required>
    <small id="modelHelp" *ngIf="(!nCGForm.get('draftModel').errors)" class="form-text text-muted">The name of the model</small>
    <small *ngIf="nCGForm.get('draftModel').errors" class="form-text text-muted">Error: {{nCGForm.get('draftModel').errors.modelError}}</small>
  </div>
  <div class="form-group" [formGroup]="nCGForm">
    <label for="peakPower">Peak Power</label>
    <input type="number" class="form-control" id="peakPower" aria-describedby="peakPowerHelp" formControlName="draftPeakPower" required>
    <small id="peakPowerHelp" *ngIf="(!nCGForm.get('draftPeakPower').errors)" class="form-text text-muted">The maximal power the asset can provide</small>
    <small *ngIf="nCGForm.get('draftPeakPower').errors" class="form-text text-muted">Error: {{nCGForm.get('draftPeakPower').errors.peakPowerError}}</small>
  </div>
  <div class="form-group" [formGroup]="nCGForm">
    <label for="projectedGeneration">Load Profile</label>
    <input type="string" class="form-control" id="projectedGeneration" aria-describedby="projectedGenerationHelp" formControlName="draftProjectedGeneration" required>
    <small id="projectedGenerationHelp" *ngIf="(!nCGForm.get('draftProjectedGeneration').errors)" class="form-text text-muted">The generation profile of the load as comma-separated list of floats</small>
    <small *ngIf="nCGForm.get('draftProjectedGeneration').errors" class="form-text text-muted">Error: {{nCGForm.get('draftProjectedGeneration').errors.projectedGenerationError}}</small>
  </div>
  <button id="saveButton" class="btn btn-success" *ngIf="nCGForm.valid && !nCGForm.pristine" (click)="storeNCGTemplate()">Store Template</button>
</form>
