<p *ngIf="experimentId">
  Researcher View for experiment # {{experimentId}}
</p>
<div class="row">
  <div class="col-md-8">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title" (click)="this.editorToShow = 'DesignEditor'">Experiment Design Editor</h3>
      </div>
      <div *ngIf="editorToShow === 'DesignEditor'" class="panel-body">
        <app-experiment-description-editor></app-experiment-description-editor>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-8">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title" (click)="this.editorToShow = 'InstanceEditor'">Experiment Instance Editor</h3>
      </div>
      <div *ngIf="editorToShow === 'InstanceEditor'" class="panel-body">
        <app-experiment-instance-editor></app-experiment-instance-editor>
      </div>
    </div>
  </div>
</div>
