<div *ngIf="prosumerInstance | async; let prosumerInstance; else loading">
  Tokens: {{prosumerInstance.numTokens}}
<app-feed-in-point-display [feedInPoint]="prosumerInstance.feedInCoordinates"></app-feed-in-point-display>

<p *ngFor="let resource of prosumerInstance.controllableGenerators">
  <app-controllable-generation-prd [resource]="resource"></app-controllable-generation-prd>
</p>
<p *ngFor="let currentNCg of prosumerInstance.nonControllableGenerators">
  <app-non-controllable-generation-prd [resource]="currentNCg"></app-non-controllable-generation-prd>
</p>
<p *ngFor="let load of prosumerInstance.loads">
  <app-load-prd [resource]="load"></app-load-prd>
</p>
<p *ngFor="let currentStorage of prosumerInstance.storage">
  <app-storage-prd [resource]="currentStorage"></app-storage-prd>
</p>
</div>
<ng-template #loading>
  Loading stuff...
</ng-template>
