<p>
  Public Actor View for experiment # {{experimentId}}
</p>
<h4>Received Fees</h4>
<table class="table">
  <thead>
  <tr>
    <th><i class=".icon-time">Actor</i></th>
    <th><i class=".icon-shopping-cart">Amount</i> </th>
    <th><i>Transaction</i></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let transactionToDisplay of transactionFeeData">
    <td>{{transactionToDisplay.payer.id}}</td>
    <td>{{transactionToDisplay.amount}}</td>
    <td>{{transactionToDisplay.correspondingBid.id}}</td>
  </tr>
  </tbody>
</table>
