<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title" (click)="changeView('BidEditor')">P2P Bid Editor</h3>
  </div>
  <div *ngIf="currentView==='BidEditor'" class="panel-body">
    <app-p2p-bid-editor></app-p2p-bid-editor>
  </div>
</div>

<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title" (click)="changeView('MarketView')">Market View</h3>
  </div>
  <div *ngIf="currentView==='MarketView'" class="panel-body">
    <app-market-view></app-market-view>
  </div>
</div>
