<h1>Welcome!</h1>
<h4>Please insert code for experiment participation</h4>
<!--
<select [(ngModel)]="selectedProsumer">
  <option *ngFor="let prosumer of prosumers" [ngValue]="prosumer" (change)="loginProsumer(prosumer.id)">Prosumer {{prosumer.id}}
</select>
<div>
<button (click)="loginProsumer(selectedProsumer.id)">Login prosumer {{selectedProsumer.id}}</button>
</div>
<h4>Grid Operator</h4>
<div>
  <button (click)="loginGridOperator()">Login GridOperator</button>
</div>
<h4>Public Actor</h4>
<div>
  <button (click)="loginPublicActor()">Login Public Actor</button>
</div>
<h4>Experiment Designer</h4>
<div>
  <button (click)="loginExperimentDesigner()">Login ExperimentDesigner</button>
</div>
-->
<div>
  <input [(ngModel)]="loginCode" placeholder="Insert login code">
</div>
<div class="row">
  <div class="col-">
    <button (click)="login()" class="btn btn-lg btn-primary participation-button" name="ParticipationButton" id="ParticipationButton">Participate</button>
  </div>
  <span></span>
  <div class="col-">
    <button (click)="loginWCode('10_Prosumer_12')" class="btn btn-lg btn-primary">Login 10_Prosumer_12</button>
  </div>
  <div class="col-">
    <button (click)="loginWCode('10_ExperimentDesigner')" class="btn btn-lg btn-primary">Login 10_ExperimentDesigner</button>
  </div>
</div>
{{errorCode}}
<button (click)="printTestRDF()">printRDF</button>
<div style="width: 500px;white-space: pre-line">{{rdfString}}</div>
