<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title" (click)="this.showResource = !this.showResource">Storage: {{resource.model}}</h3>
  </div>
  <div class="panel-body" *ngIf="showResource">
    <p *ngIf="currentSOC">
      State-of-charge: {{currentSOC}}/{{resource.storageCapacity}}
    </p>
    <p>
      Cycle Efficiency: {{resource.cycleEfficiency}}
    </p>
    <p>
      Feedout power: {{resource.feedoutPower}}
    </p>
    <p>
      Feedin power: {{resource.feedinPower}}
    </p>
  </div>
</div>
