<h3>Prosumer Data</h3>
<form [formGroup]="prosumerDataForm">
  <div class="form-group">
    <label for="amountTokens">Initial number of Tokens</label>
    <input type="number" class="form-control" id="amountTokens" aria-describedby="amountTokensHelp" formControlName="amountTokens" required>
    <small id="amountTokensHelp" *ngIf="(!prosumerDataForm.get('amountTokens').errors) || prosumerDataForm.get('amountTokens').untouched" class="form-text text-muted">The number of tokens the Prosumer starts the simulation with</small>
    <small *ngIf="prosumerDataForm.get('amountTokens').errors  && prosumerDataForm.get('amountTokens').touched" class="form-text text-muted">Error: {{prosumerDataForm.get('amountTokens').errors.amountTokensIssue}}</small>
  </div>
  <div class="form-group">
    <label for="feedinCoordinates">Feedin Coordinates (x,y)</label>
    <input type="input" class="form-control" id="feedinCoordinates" aria-describedby="feedinCoordinatesHelp" formControlName="feedinCoordinates" required>
    <small id="feedinCoordinatesHelp" *ngIf="(!prosumerDataForm.get('feedinCoordinates').errors) || prosumerDataForm.get('feedinCoordinates').untouched" class="form-text text-muted">The coordinates of the meter point where the Prosumer feeds in</small>
    <small *ngIf="prosumerDataForm.get('feedinCoordinates').errors  && prosumerDataForm.get('feedinCoordinates').touched" class="form-text text-muted">Error: {{prosumerDataForm.get('feedinCoordinates').errors.feedinCoordinatesIssue}}</small>
  </div>
  <!-- is there a submit button lacking? -->
</form>
